@keyframes swing {
  10% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  30% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  40% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  50% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  70% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  80% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  90% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
