@import "imports/08 | fonts";
@import "imports/10 | functions";
@import "imports/15 | animate";

html, body {
  height: 100%;
  background-color: #EDEDF0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  f-no-select();
  display: table;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;

  .rtl,
  .ltr {
    position: relative;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: .005;
    -webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
  }

  .rtl {
    f-transform(-140%);
  }

  .ltr {
    f-transform(140%);
  }

  &.ready {
    .rtl,
    .ltr {
      opacity: 1;
      f-transform(0px);
    }

    .logo {
      opacity: 0;
      -webkit-transition-duration: .5s; /* Safari */
      transition-duration: .5s;
    }
  }
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  max-width: 320px;
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
}

.text {
  font-size: 32px;

  .days {
    display: inline-block;
  }
}

.mail {
  font-size: 24px;
  color: #939699;
  cursor: pointer;
  f-no-select();

  &.swing {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

    &:hover {
      -webkit-animation: none;
      animation: none;
    }
  }
}

.drop-table {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 200px;
}

#nearest-wrap {
  position: relative;
  overflow: hidden;

  .js-scroll {
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    overflow: auto;

    & > div {
      width: 120%;
      height: 100%;
    }
  }
}
